# ignores all files
*

# except for the following
!*.html
!*.css
!*.js
!README.md
!LICENSE.md
!images/
images/*
!images/*.jpg
!images/*.png
!images/*.svg
!images/*.gif
!videos/
videos/*
!videos/*.mp3
!videos/*.mp4

# ignores these files
.gitignore
dist/
build/
.idea/
.vscode/
.DS_Store
Thumbs.db
