# ignores all files and directories
*
*/
*/*

# except for the following
!contentpage-stud4.html
!contentpage-student1.html
!contentpage-student2.html
!contentpage-student3.html
!feedback.html
!gallery.html
!home.html
!index.html
!pageedit-stud4.html
!pageedit-student1.html
!pageedit-student2.html
!pageeditor-student3.html
!profile.html
!shop.html
!sitemap.html
!splash.html
!team.html
!style.css
!README.md
!LICENSE.md
!favicon.ico
!images/
!images/*.jpg
!images/*.png
!images/*.svg
!images/*.gif
!images/*.webp
!assets/
!assets/*.jpg
!assets/*.png
!assets/*.webp
!assets/content-page/
!assets/content-page/*jpg
!assets/content-page/*png
!assets/content-page/*webp
!assets/merch/
!assets/merch/*jpg
!assets/merch/*png
!assets/merch/*webp
!scripts/
!scripts/*.js
!videos/
!videos/*.mp3
!videos/*.mp4
!otherstylesheets/
!otherstylesheets/*.css
